<link href ='/assets/permission_denied.css' rel='stylesheet' type='text/css'>
<main>
  <div class="modal">
    <p class="warning" align="center"><b><a href="#">خطا</a></b></p>
    <p> شما مجاز به انجام این کوییز نیستید</p>
  </div>
</main>