<link rel="stylesheet" href="/assets/results.css">
<div class="page">
<h1 align="center">نتایج مسابقه</h1>
    <div class="product">
    <% if @score1.to_i < @score2.to_i %>
        <h2 align="center">بازنده</h2>
    <% else %>
        <h2 align="center">برنده</h2>
    <% end %>
      <h3 align="center">نام: <%= current_user.firs_name %><h3>
      <% if @score1.to_i < @score2.to_i %>
        <img align="center" src="/assets/fail.png" style="margin_right:20px;"/>
      <% else %>
        <img align="center" src="/assets/pass.jpg" style="margin_right:20px;"/>
      <% end %>
      <h2 class="result1" align="center">امتیاز: <%= @score1 %></h2> 
      
    </div>
    <div class="product" style="visibility: hidden;"></div>

    <div class="product">
    <% if @score1.to_i > @score2.to_i %>
        <h2 align="center">بازنده</h2>
    <% else %>
        <h2 align="center">برنده</h2>
    <% end %>
       <h3 align="center">نام: <% if @rival != nil %> <%= @rival.firs_name %> <% end %></h3>
      <% if @score1.to_i > @score2.to_i %>
        <img align="center" src="/assets/fail.png" style="margin_right:20px;"/>
      <% else %>
        <img align="center" style="margin_right:20px;" src="/assets/pass.jpg"/>
      <% end %>
      <h2 class="result2" align="center">امتیاز: <%= @score2 %></h2> 
    </div>
    <div id="labels">
        <span id = 'true'>عالی!</span>
        <span id = 'false'>چه بد!</span>
    </div>
    </div>
