<%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => "دسته بندی " + @category.name %></h1>
</div>
<%= render 'questions/index' %>
<%= will_paginate @questions, :previous_label => t(:previous), :next_label => t(:next) %>
