

      <h1 class="rtl">سلام <%= @user.firs_name %></h1>
      
      <p class="rtl">
        حریف شما مسابقه را انجام داده است برای مشاهده ی نتیجه ی مسابقه لطفا برروی لینک زیر کلیک کنید.
      </p>
      
      <p>
         <a href = <%= @result_url %> >مسابقه دادن</a>
      </p>
      
      <p>مسابقه ی خوبی داشته باشید :)</p>
      
