

      <h1 class="rtl">سلام <%= @user.firs_name %></h1>
      
      <p class="rtl">
         شما برای یک مسابقه انتخاب شده اید لطفا وارد لینک زیر شوید تا وارد مسابقه شده و به سوالات پاسخ دهید.
      </p>
      
      <p>
         <a href = <%= @quizz_url %> >مسابقه دادن</a>
      </p>
      
      <p>مسابقه ی خوبی داشته باشید :)</p>
      
