<p>سلام  <%= @resource.email %>!</p>

<p>شخصی درخواست تغییر رمز عبور شما را داده و شما می توانید این کار را از طریق لینک زیر انجام دهید.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>اگر شما این درخواست را ارسال نکرده اید لطفا این ایمیل را نادیده بگیرید.</p>
<p>رمز عبور شما تا زمانی که به لینک بالا مراجعه نکنید و رمز عبور جدید نسازید تغییر نخواهد کرد</p>
