<p>سلام  <%= @resource.email %>!</p>

<p>حساب شما بخاطر تلاش های ناموفق مکرر برای ورود قفل شد.</p>

<p>برای باز کردن حساب خود بر روی لینک زیر کلیک کنید:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
