<% if notice.present? %>
  <div class="flash alert alert-success fade in rtl"><%= raw(notice) %><span class="dismiss">X</span>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
<% end %>
<% if alert.present? %>
  <div class="flash alert alert-danger fade in rtl"><%= raw(alert) %><span class="dismiss">X</span>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
<% end %>


