<div class="footer">
      <div class="container">
        <div class="col-md-3 grid_4">
           <h3>درباره کافه کوئیز</h3> 
           <p>""</p>
              <ul class="social-nav icons_2 clearfix">
                    <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="facebook"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
                 </ul>
        </div>
        <div class="col-md-3 grid_4">
           <h3>لینک های مهم</h3>
          <ul class="footer_list">
            <li><a href="#">-  University of Tehran </a></li>
          </ul>
        </div>
        <div class="col-md-3 grid_4">
           <h3>ارتباط با ما</h3>
          <address>
                    <abbr>Email : </abbr> <a href="mail@cafequiz.ir">mail@cafequiz.ir</a>
               </address>
        </div>
        
        <div class="clearfix"> </div>
        <div class="copy">
           <p>  کلیه حقوق این وبسایت متعلق به شرکت کافه کوئیز می  باشد  </p>
          </div>
      </div>
    </div>
    <script src="/assets/jquery.countdown.js"></script>
<script src="/assets/script.js"></script>
